In [1]:
# notebooks/Data_Preprocessing.ipynb
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [11]:
# Load the dataset
df = pd.read_csv('../data/HousingData.csv')

In [13]:
df["MEDV"]=df["MEDV"]*1000
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24000.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21600.0
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34700.0
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33400.0
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36200.0

In [15]:
# Handle missing values (if any)
df.fillna(df.mean(), inplace=True)

In [17]:
# Encode categorical variables (CHAS)
df = pd.get_dummies(df, columns=['CHAS'], drop_first=True)

In [19]:

# Normalize/standardize numerical features
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df.drop('MEDV', axis=1))
scaled_df = pd.DataFrame(scaled_features, columns=df.columns[:-1])

In [21]:
# Split the data into training and testing sets
X = scaled_df
y = df['MEDV']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
# Save preprocessed data
X_train.to_csv('../data/X_train.csv', index=False)
X_test.to_csv('../data/X_test.csv', index=False)
y_train.to_csv('../data/y_train.csv', index=False)
y_test.to_csv('../data/y_test.csv', index=False)